name: Bun

on:
  workflow_call:
    inputs:
      disable-formatter:
        description: 'Disable formatter if true'
        type: boolean
      disable-linter:
        description: 'Disable linter if true'
        type: boolean
      disable-test:
        description: 'Disable tests if true'
        type: boolean
      disable-build:
        description: 'Disable build if true'
        type: boolean
      build-args:
        description: 'Build arguments'
        type: string

jobs:
  bun:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
        with:
          show-progress: false

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install node dependencies
        run: bun install --frozen-lockfile

      - name: Run Biome
        run: |
          bun run biome ci . \
            --formatter-enabled=${{ !inputs.disable-formatter }} \
            --linter-enabled=${{ !inputs.disable-linter }}

      - name: Test
        if: ${{ !inputs.disable-test }}
        run: bun test

      - name: Build
        if: ${{ !inputs.disable-build }}
        run: |
          read -a BUILD_ARGS <<< $BUILD_ARGS
          bun run build ${BUILD_ARGS[@]}
        env:
          BUILD_ARGS: ${{ inputs.build-args }}
