name: Clippy

on:
  workflow_call:
    inputs:
      working-directory:
        description: "Working directory for the workflow"
        type: string
        default: .

jobs:
  clippy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false

      - name: Cache Cargo
        uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Setup Rust
        run: |
          rustup default nightly
          rustup component add clippy
          rustup update

      - name: Lint
        run: cargo clippy
