name: Create

on: workflow_call

permissions:
  contents: write

jobs:
  create:
    if: github.event.repository.is_template == false
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false

      - name: Remove unnecessary workflow files
        run: rm .github/workflows/create.yml

      - name: Rename README title
        env:
          REPOSITORY_NAME: ${{ github.event.repository.name }}
        run: sed -i "1s/.*/# $REPOSITORY_NAME/" README.md

      - name: Set Git config
        run: |
          git config user.email github-actions[bot]@users.noreply.github.com
          git config user.name github-actions[bot]

      - name: Reword initial commit
        run: |
          git commit --amend -am "chore: initialise repository"
          git push --force-with-lease
