name: Dependabot

on:
  workflow_call:
    secrets:
      token:
        description: "A GitHub token secret"
        required: true

permissions:
  contents: write
  pull-requests: write

env:
  PR_URL: ${{ github.event.pull_request.html_url }}
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  auto-merge:
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    runs-on: ubuntu-slim

    steps:
      - name: Auto-approve Dependabot PR
        run: gh pr review --approve $PR_URL || true

      - name: Auto-merge Dependabot PR
        run: gh pr merge --squash $PR_URL || gh pr merge --auto --squash $PR_URL
