name: Push Docker Image

on:
  workflow_call:
    inputs:
      file:
        description: 'Path to Dockerfile'
        type: string
        default: Dockerfile
    secrets:
      token:
        description: 'A GitHub token secret'
        required: true

permissions:
  packages: write

env:
  REGISTRY: ghcr.io

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Log in to the Container registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.token }}

      - name: Extract metadata for Docker
        uses: docker/metadata-action@v5.10.0
        id: meta
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}

      - name: Push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          file: ${{ inputs.file }}
          push: true
          cache-from: type=gha
