name: Build Docker Image

on:
  workflow_call:
    inputs:
      file:
        description: "Path to Dockerfile"
        type: string
        default: Dockerfile
      cache-mode:
        description: "Cache mode for the Docker build"
        type: string
        default: max
      build-args:
        description: "Build-time variables for the Docker build"
        type: string
        default: ""

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          show-progress: false

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Extract metadata for Docker
        uses: docker/metadata-action@v5.9.0
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Build Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          outputs: type=cacheonly
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          file: ${{ inputs.file }}
          build-args: ${{ inputs.build-args }}
          cache-from: type=gha
          cache-to: type=gha,mode={{ inputs.cache-mode }}
