name: Format

on: workflow_call

concurrency: ${{ github.job }}-${{ github.ref }}
permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false

      - name: Setup Biome
        uses: biomejs/setup-biome@v2.7.0
        with:
          version: latest

      - name: Run Biome
        run: biome check --write .

      - name: Set Git config
        run: |
          git config user.email github-actions[bot]@users.noreply.github.com
          git config user.name github-actions[bot]

      - name: Commit changes
        run: |
          git commit -am "style: format scripts" || true
          git pull --autostash --rebase origin ${{ github.head_ref || github.ref_name }}
          git push
