name: Release

on:
  workflow_call:
    inputs:
      release-tag:
        description: 'Release tag'
        type: string
        required: true
      release-title:
        description: 'Release title'
        type: string
        required: true
      release-asset:
        description: 'Release asset'
        type: string
        required: true
      artifact-name:
        description: 'Artifact name'
        type: string
        required: true
      artifact-path:
        description: 'Artifact path'
        type: string
        default: ${{ github.workspace }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref == 'refs/heads/main' }}

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-slim

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: ${{ inputs.artifact-name }}
          path: ${{ inputs.artifact-path }}
          merge-multiple: true

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
          RELEASE_TAG: ${{ inputs.release-tag }}
          RELEASE_TITLE: ${{ inputs.release-title }}
          RELEASE_ASSET: ${{ inputs.release-asset }}
        run: |
          gh release delete $RELEASE_TAG -y || true
          gh release create $RELEASE_TAG -t "$RELEASE_TITLE" -n "$(git log -1 --pretty=format:"%B")" || true
          gh release upload $RELEASE_TAG $RELEASE_ASSET --clobber
