name: Rust

on:
  workflow_call:
    inputs:
      working-directory:
        description: "Working directory for the workflow"
        type: string
        default: .
      disable-test:
        description: "Disable tests if true"
        type: boolean

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Cache Cargo
        uses: actions/cache@v5.0.2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install clippy
        run: rustup component add clippy

      - name: Lint
        run: cargo clippy -- -Dwarnings

  test:
    if: ${{ !inputs.disable-test }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Cache Cargo
        uses: actions/cache@v5.0.2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Test
        run: cargo test
