name: Warm

on:
  workflow_call:
    secrets:
      token:
        description: "A Hugging Face API token"
    inputs:
      path:
        description: "Path"
        type: string
        default: ""

env:
  REPOSITORY_NAME: ${{ github.event.repository.name }}
  HF_TOKEN: ${{ secrets.token }}

jobs:
  warm:
    runs-on: ubuntu-slim

    steps:
      - name: cURL the API
        env:
          QUERY_PATH: ${{ inputs.path }}
        run: |
          curl -f https://$GITHUB_REPOSITORY_OWNER-$REPOSITORY_NAME.hf.space$QUERY_PATH -H "Authorization: Bearer $HF_TOKEN"

      - name: Restart on failure
        if: failure()
        run: |
          curl -X POST https://huggingface.co/api/spaces/$GITHUB_REPOSITORY/restart \
               -H "Authorization: Bearer $HF_TOKEN"
