name: Restart

on:
  workflow_call:
    secrets:
      token:
        description: 'A Hugging Face API token'
        required: true

env:
  HF_TOKEN: ${{ secrets.token }}

jobs:
  restart:
    runs-on: ubuntu-slim
    environment:
      name: production
      url: https://huggingface.co/spaces/${{ github.repository }}

    steps:
      - name: Factory restart API
        run: |
          curl -X POST https://huggingface.co/api/spaces/$GITHUB_REPOSITORY/restart?factory=true \
               -H "Authorization: Bearer $HF_TOKEN"
